<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastrar Jogador</title>
</head>
<body>
	
	<div>
		<form action="/v1/jogador/cadastrar" method="post">
			<label for="idade">Idade</label>
			<input type="text" id="idade" name="idade">
			
			<label for="nome">Nome</label>
			<input type="text" id="nome" name="nome">
			
			<label for="nome">Altura</label>
			<input type="text" name="altura">
		
			<select name="posicao">
			  <option th:each="p : ${posicoes}" th:value="${p.id}"  th:text="${p.descricao}">Atacante</option>
			</select>			
						 
			<input type="submit" value="Enviar">
	
		</form>
	</div>

</body>
</html>